In [5]:
import Metashape
import pandas as pd
import numpy as np

import configs as cfg
import os

In [22]:
ms_list = ['1R_Group0', '1R_Group1', '1R_Group2', 
           '2R_Group0',
           '3R_Group0', '3R_Group1',
           '4R_Group0', '4R_Group1',
           '5R_Group0', 
           'XR_GroupFix']

In [23]:
vol_dict = {}

for ms_name in ms_list:
    doc = Metashape.Document()
    doc.open(os.path.join(cfg.working_directory, "projects.psx", ms_name + '.psx'))

    for chunk in doc.chunks:
        vol_dict[chunk.label] = chunk.model.volume()

LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/1R_Group0.psx
loaded project in 0.0244 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/1R_Group1.psx
loaded project in 0.028594 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/1R_Group2.psx
loaded project in 0.023583 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/2R_Group0.psx
loaded project in 0.017253 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/3R_Group0.psx
loaded project in 0.019188 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/3R_Group1.psx
loaded project in 0.017383 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/4R_Group0.psx
loaded project in 0.019741 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/4R_Group1.psx
loaded project in 0.021466 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/5R_Group0.psx
loaded project in 0.016879 sec
LoadProject: path = /home/crest/z/hwang_Pro/data/2023_hokkaido_potato/projects.psx/XR_GroupFix.psx
loaded project in 0.00698 sec

In [14]:
vol_dict['R1-1'], type(vol_dict['R1-1'])

(7.971986752852955e-05, float)

read scalebarlist.csv to get the time-series order

In [17]:
sbl = pd.read_csv('scalebarlist.csv', header=None)
sbl

          0              1  2  3   4
0      R1-1   scalebar.csv  1  1   1
1      R1-2   scalebar.csv  1  1   2
2      R1-3   scalebar.csv  1  1   3
3      R1-4   scalebar.csv  1  1   4
4      R1-5   scalebar.csv  1  1   5
..      ...            ... .. ..  ..
336   5R3-6  scalebar2.csv  5  3   6
337   5R3-7  scalebar2.csv  5  3   7
338   5R3-8  scalebar2.csv  5  3   8
339   5R3-9  scalebar2.csv  5  3   9
340  5R3-10  scalebar2.csv  5  3  10

[341 rows x 5 columns]

In [27]:
volume_csv = pd.DataFrame(columns=[['label', 'group_id', 'bucket_id', 'pin_id', 'volume (cm3)']])

for i, label in enumerate(sbl[0]):
    vol_cm = vol_dict[label] * 1000 * 1000

    if vol_cm == 0:
        print(label)

    volume_csv.loc[len(volume_csv),:] = [label, sbl.loc[i, 2], sbl.loc[i, 3], sbl.loc[i, 4], vol_cm]

In [28]:
volume_csv

      label group_id bucket_id pin_id volume (cm3)
0      R1-1        1         1      1    79.719868
1      R1-2        1         1      2    216.66425
2      R1-3        1         1      3   142.948028
3      R1-4        1         1      4    89.372959
4      R1-5        1         1      5    36.550285
..      ...      ...       ...    ...          ...
336   5R3-6        5         3      6    79.426222
337   5R3-7        5         3      7    51.327648
338   5R3-8        5         3      8    95.468087
339   5R3-9        5         3      9   175.928857
340  5R3-10        5         3     10   128.956897

[341 rows x 5 columns]

In [31]:
volume_csv.to_csv(os.path.join(cfg.working_directory, "outputs", "volume.csv"), index=None)